
.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53f2d);
    /* position: fixed; */
    width: 100%;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    font-weight: 450;
}

.header__navbar-list{
    display: flex;
    list-style: none;
    padding-left: 0;
    min-height: 26px;
  
}

.header__navbar-item-link,
.header__navbar-item{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon-link{
    display: flex;
    align-items: center;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}


.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-user-name{
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding: 8px 0px;
    width: 160px;
    top: 100%;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 5px rgb(189, 187, 187);
    display: none;
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top:-8px;
    right: 0;
    width: 56%;
    height: 8px;
}

.header__navbar-user-menu::before{
    content: "";
    border: solid;
    border-width: 23px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 3px;
    top: -32px;
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}

.header__navbar-user-item--seperate a{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #f5f4f4;
}

.header__navbar-item--has-qr:hover .header_qr{
    display: block;
}

.header__navbar-item--notify:hover .header__notify{
    display: block;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1.5px;
    height: 16px;
    background-color: #fa8e82;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item-link:hover,
.header__navbar-item:hover{
    color:rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer{
    cursor: default;
    color: #fff;
}

/* Header QR Code */

.header_qr{
    color: var(--white-color);
    width: 180px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    z-index: 2;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    position: relative;
    top: -4px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
}

.header__qr-download-img{
    height: 15px;  
}

.header__qr-link:first-child{
    margin-left: 11px;
}

.header__qr-link:last-child{
    margin-right: 11px;
}

/* Header Notification */

.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    transform-origin: 90% top;
    animation: growOut ease-in 0.2s;
    will-change: opacity,transform;
    margin-top: 10px;
    display: none;
    z-index: 1;
    border-radius: 2px;
    
}

.header__notify::before{
    content: "";
    border: solid;
    border-width: 26px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 7px;
    top: -40px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

.header__notify-content-guest{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 312px;
}

.header__notify-item{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.header__notify-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header__notify-description{
    color: var(--text-color);
    margin: auto;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    line-height: 40px;
    user-select: none;
}

.header__noti-log{
    display: flex;
    justify-content:space-between;
}

.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    border:none;
    background-color: var(--white-color);
}

.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.header__noti-log-btn{
    display: inline-block;
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    padding: 12px 66px;
    user-select: none;
    border: none;
    width:100%;
}

.header__noti-log-btn:hover{
    background-color: #E8E8E8;
    color: #fa5330;
}

/* Discount Modal */
.base-modal{
    position: fixed;
    bottom: 88px;
    right: 36px;
}

/* Header with search */

.header-with-search{
    height: var(--header-with-seacrh-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
    margin-bottom: 12px;
    text-decoration: none;
    color: transparent;
}

.header__logo-img{
    width: 150px;
    color: var(--white-color);
}

.header__search-input-wrapper{
    flex:1; 
    height: 100%;
    z-index: 1;
}
.header-with-search__middle{
    flex:1;
    height: 64px;
}

.header__search{
    display: flex;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    align-items: center;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-button{
    width: 62px;
    height: 36px;
    background-color: #fb5533;
    border: none;
    color: var(--white-color);
    font-size: 1.4rem;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-button:hover{
    opacity: 0.9;
    cursor: pointer;
}

.header__recommends{
    height: 18px;
}

.header_recommend{
    display: inline-block;
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    padding: 4px;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Cart */

.header__cart{
    width: 150px;
    text-align: center;
    margin-bottom: 12px;
    text-decoration: none;
    position: relative;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-wrap{
    display: inline-block;
    padding: 0 8px;
    position: relative;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 4px);
    right: -2px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;  
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    transform-origin: 90% top;
    animation: growOut ease-in 0.2s;
    will-change: opacity,transform;
    display: none;
    cursor: default;
    z-index: 1;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    right: 1px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg{
    margin-left: auto;
    margin-right:auto;
    display: block;
}

.header__cart-no-cart-img{
    width: 40%;
    display: none;
}

.header__cart-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice-3{
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px;
    border:2px solid #f53f2d;
    right: 26px;
    top: -4px;
}

.header__cart-list-items{
    padding: 0;
    list-style: none;
    height: 56vh;
    overflow-y: auto;
}

.header__cart-heading{
    text-align: left;
    margin: 12px 0 12px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;

}

.header__cart-item{
    display: flex;
}

.header__cart-item:hover{
    background-color: #f7f2f2;
}

.header__cart-item-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e4dede ;
}

.header__cart-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    padding-right: 16px;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-mutiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt{
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;

}

.header__cart-item-des{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 3rem;
    margin-top: 6px;
}

.header__cart-view{
    float: right;
    margin: 0 12px 12px 0;
}


/* Search History */

.header__search-input-wrapper{
    position: relative;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 187, 187);
    display: none;
    overflow: hidden;
}


.header__search-history-heading{
    margin: 12px 12px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #D8D8D8;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color:var(--text-color);
}

/* App container */

.app__container {
    background-color: #f3f3f3;
}

.app__content{
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__headding{
    margin-top: 0;
    font-size:1.5rem ;
    font-weight: 400;
    color: var(--text-color);
    padding: 16px 16px 0 ;
    text-transform: uppercase;
}

.category-list{
    padding: 0 0 8px 0;
    list-style-type: none;
}

.category-item{
    position: relative;
}

.category-item:first-child::before{
    display: none;
}

.category-item::before{
    position: absolute;
    content: "";
    top:0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #e1e1e1;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item__link{
    position: relative;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 20px;
    display: block;
}

.category-item__link:hover{
    color: var(--primary-color);
}

/* Home sort+filter */

.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
    
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
    box-shadow: 0 1px 5px rgb(189, 187, 187);
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 5px rgb(189, 187, 187);
}

.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product-item */
.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    position: relative;
    margin-top: 10px;
    text-decoration:none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    display: block;
}

.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
    transition: transform linear 0.1s;
    will-change: transform;
    transform: translateY(-1px);
}

.home-product-item__img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top center;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: wrap;
}

.home-product-item__price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

i.home-product-item__action-like-icon-fill{
    font-size: 1.3rem;
    color: red;
    display: none;
}

.home-product-item__action-like--liked .home-product-item__action-like-icon-fill{
    display: inline-block;
}

.home-product-item__action-like--liked .home-product-item__action-like-icon-empty{
    display: none;
}

.home-product-item__action-rating{
    font-size: 1rem;
    transform: scale(0.8);
    color: #D5D5D5;
    margin:-1px 0 0 auto;
}

.home-product-item__action-rating-gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1.2rem;
    color: rgb(0 0 0 / 87%);
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: rgb(0 0 0 / 65%);
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin:0 2px 0 5px;
}

.home-product-item__favourite::before{
    content: "";
    position: absolute;
    left:0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(255, 216, 57, 0.94);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off-percent{
    color: #F1782C;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 3px;
}

.home-product-item__sale-off-percent::after{
    content: "";
    position: absolute;
    left: -8px;
    bottom: -24px;
    border-width: 0 20px 6px;
    border-style: solid;
    color: rgb(255, 216, 57, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-label{
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: var(--white-color);
    position: relative;
    top: 2px;
    font-weight: 600;
}

.home-product__pagination{
    margin: 44px 0 32px 0;
}

/* Footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list{
    padding-left: 0;
}

.footer__list-item{
    list-style: none;
}

.footer-item-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 6px 0;
    display: flex;
    align-items: center;
}

.footer-item-link:hover{
    color: var(--primary-color);
}

.footer-item-icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__download-app{
    display: flex;
    flex: 1;
    margin-left: 16px;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img{
    height: 16px;
}

.footer__download-app-link{
    text-decoration: none;
    color: transparent;
}

.footer-bottom{
    padding: 8px 0;
    background-color:#f5f5f5;
    margin-top: 24px;
}

.footer__text{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}














